<div {{bindAttr class="editor"}}>
<header class="navbar">
  <div class="wrap">
  <h1 class="site-title">
    {{#linkTo "index"}}—{{/linkTo}}
  </h1>

  <nav class="site-navigation">
    <ul class="nav">
      <li>{{#linkTo "posts"}}Posts{{/linkTo}}</li>
    </ul>
  </nav>
  </div>
</header>

<div class="site-content">
  <div class="wrap">
    {{outlet}}
  </div>
</div>

<footer class="site-footer">
  <div class="wrap">
    <p>&mdash; is another bloody minimalist writing thing by <a href="http://twitter.com/jongold">@jongold</a>. It uses Ember.js and LocalStorage to give you a totes sweet writing environment in the browser.
  </div>
</footer>
</div>
