<header class="site-header">
  <div class="wrap">
  <h1 class="site-title">
    {{#linkTo "index"}}Emdash{{/linkTo}}
  </h1>

  <nav class="site-navigation">
    <ul class="nav">
      <li>{{#linkTo "posts"}}Posts{{/linkTo}}</li>
    </ul>
  </nav>
  </div>
</header>

<div class="site-content">
  <div class="wrap">
    {{outlet}}
  </div>
</div>

<footer class="site-footer">
  <div class="wrap">
    <p><small>Emdash is a riff on Onword by <a href="http://daneden.me">Daniel Eden</a>. It uses Ember.js and LocalStorage to give you a totes sweet writing environment in the browser.</small>
    <br>
    <small class="secondary"><a class="blend-link" href="/help">Help</a> • <a class="blend-link" href="/about">About</a></small></p>
  </div>
</footer>

