<div class="promo">
  <h2 class="mega">Just write.</h2>
  <p class="callout">No formatting. No toolbars. No folders, file formats, or compatibility problems.</p>
  <p>Write letters. Draft emails and blog posts. Share more than 140 characters. Keep lists. Write on your desktop, and carry on where you left off on your tablet. <em>Just write.</em></p>
  <p><a href="/login" class="butt big-butt login icon icon-twitter">Log in with Twitter</a></p>
</div>