<div class="promo">
  {{#linkTo "new_post" class="butt icon icon-new"}}New Document{{/linkTo}}
</div>

<ul class="documents">
  {{#each post in controller}}
    <li>
    {{#linkTo "post" post class="blend-link document-link"}}
      <span class="document-title">{{post.title}}</span>
      <small class="last-edited">
        <span class="mobile-offscreen">Last edited: </span>{{post.publishedAt}}
      </small>
    {{/linkTo}}
    <div class="align-right mini-actions">
      {{#linkTo "edit_post" post}}Edit{{/linkTo}}
      {{#linkTo "post" post}}View{{/linkTo}}
      <a href="#" {{action "destroy" post}}>Destroy</a>
    </div>
    </li>
  {{/each}}
</ul>