<div class="hentry document">
<h1>Title</h1>

{{body}}

<hr>

<p class="cf meta">
  <span class="alignright">Reading time: 02:19</span>
  Written by {{author}}</a>
</p>

</div>
<!-- {{#linkTo "posts"}}â†All Posts{{/linkTo}}
{{#linkTo "edit_post" model}}Edit{{/linkTo}}
<a href="#" {{action "destroy"}}>Destroy</a>
 -->